:root {
  --primary-color: #009e22;
  --bg-color: #130f0d;
  --text-color: #f0f0f5;
  --light-color: #1f1c1a;
  --secundary-color: #432ff3;
}

* {
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
}

/*section game*/

.games {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}

/*  buttons */

button {
  width: min(25vw, 300px);
  padding: 16px 0;
  border: none;
  outline: none;
  font-size: 1em;
  transition: 1s;
  color: var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  transform: scale(1.05);
}

/*links*/

a {
  text-decoration: none;
}

/*colors*/

.purple {
  background-color: var(--secundary-color);
}

.green {
  background-color: var(--primary-color);
}

/*imagens*/

.image {
  width: 48px;
  height: 48px;
  margin-left: 1rem;
}

.m-0 {
  margin-left: 0;
}

.m-2 {
  margin-left: 2rem;
}

/*back*/
.back{
  display: flex;
  justify-content: center;
  align-items: center;
}
.back button{
  background: #5b3599;
}
