:root {
  --background: #000000d5;
  --text: #8d8d8dd5;
  --link: #432ff3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
}

/*title*/

h1 {
  text-align: center;
  color: var(--text);
}

/*back*/

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 0;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--link);
}

.back button{
  width: 20vw;
  font-size: 1rem;
  background: #5b3599;
  color: #fff;
  padding: 16px 0;
  border: none;
  outline: none;
  margin: none;
  cursor: pointer;
  transition: 1s;
}

.back button:hover{
  transform: scale(1.05);
}
/*section game*/

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
